.jumbotron{
    margin-top:0px;
    margin-bottom:0px;
    border-bottom:0 auto;
    background-position: center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image:  url('../images/ethiopia2.jpg');
    color: #ff9900;
    height: 100vh;
}

.container-fluid {
    height: 100vh;
}

.bg-green {
    background-color: #7ABA7A;
    color: #fff;
}
